extends layout
append head
  title 课程设置
append style
  mixin stylesheet('./css/course.css')
block course-bar
  li.active: a(href='#') 课程设置
append page
  .col-md-9.col-md-offset-1#course
    #myCarousel.carousel.slide.col-xs-12
      ol.carousel-indicators
        - for(var i = 0; i < course_info.length; i++){
        -   if (i==0){
        li.active(data-target='#myCarousel' data-slide-to='#{i}') 
        -   }else{
        li(data-target='#myCarousel' data-slide-to='#{i}') 
        -    }
        -}
      .carousel-inner(role="listbox")
        - course_info.forEach(function(n, i){
        - if(i==0){
        .item.active.col-xs-offset-1.col-xs-10
          .alert.alert-success(style="min-height:330px") 
            - n.detail.split("\n").forEach(function(d, j){
            -   if (j == 0){
            strong #{d}
            -   }else{
            p #{d} 
            -   }
            - })
        - }else{
        .item.col-xs-offset-1.col-xs-10
          .alert.alert-success(style="min-height:330px") 
            - n.detail.split("\n").forEach(function(d, j){
            -   if (j == 0){
            strong #{d}
            -   }else{
            p #{d}
            -   }
            - })
        - }
        - })
      a.left.carousel-control(href="#myCarousel",role="button",data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(style="color:green")
      a.right.carousel-control(href="#myCarousel",role="button",data-slide="next")
        span.glyphicon.glyphicon-chevron-right(style="color:green")


    - course.forEach(function(t, i){
      //type
      .col-md-12#course
        .row
           //img.col-md-1.img-circle(src="./img/logo/02.png")
           img.col-md-1.col-xs-2.img-circle(src='#{t.logo}')
           h3 #{t.type}
        .row
          - t["course"].forEach(function(c, j){
          .col-md-3.col-xs-4
            a.thumbnail.col-xs-12
              img(src='#{c.src}' alt)
              .course-caption
                h4.text-center #{c.name}
          - })
        br
        br
    - })


//append script
//  script(type='text/javascript').
//    var test = 0;
//    $.getJSON('/course-info',function(data){
//      $('#course .item').on("mouseover",
//        function(){
//            $(this).parent().parent().find('.item-info div').remove();
//            var i = $(this).attr("data-value");
//            var $span = $(this).parent().find('.item-info');
//            $span.append("<div><p>"+data[i].info+"</p></div>");
//            $span.fadeIn(500);
//          });
//     });
