extends layout
append head
  title 首页
append page
 .span2
 .span8#home
   #myCarousel.carousel.slide
     ol.carousel-indicators
       - for(var i = 0; i < news.length; i++){
       -   if (i==0){
       li.active(data-target='#myCarousel' data-slide-to='#{i}') 
       -   }else{
       li(data-target='#myCarousel' data-slide-to='#{i}') 
       -    }
       -}
     .carousel-inner
       - news.forEach(function(n, i){
       - if(i==0){
       .item.active
         img(src='#{n.src}' alt)
         .carousel-caption 
           h4 #{n.caption}
           p #{n.detail}
       - }else{
       .item
         img(src='#{n.src}' alt)
         .carousel-caption 
           h4 #{n.caption}
           p #{n.detail}
       - }
       - })
     a.left.carousel-control(href='#myCarousel' data-slide='prev') ‹ 
     a.right.carousel-control(href='#myCarousel' data-slide='next') ›

   br
   .row
     .span3.text-center
       img.center.img-circle(src="./img/logo/01.png")
       h3 How we began
       p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
     .span3.text-center
       img.img-circle(src="./img/logo/02.png")
       h3 Philosophy
       p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
     .span3.text-center
       img.img-circle(src="./img/logo/03.png")
       h3 Our Work
       p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.
     .span3.text-center
       img.img-circle(src="./img/logo/04.png")
       h3 Get in touch
       p I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font.


